USE [BoodDonationApp]
GO
/****** Object:  Table [dbo].[Batch]    Script Date: 9/21/2022 4:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batch](
	[BatchID] [int] IDENTITY(1,1) NOT NULL,
	[BatchName] [nvarchar](255) NULL,
	[Thoigianhien] [datetime] NULL,
	[Nguoitaohien] [nvarchar](50) NULL,
	[StatusDothien] [int] NULL,
	[Thoigianthemluothien] [datetime] NULL,
	[Thoigianbatdau] [datetime] NULL,
	[Thoigianketthuc] [datetime] NULL,
	[Soluongdukien] [int] NULL,
	[Soluongdem] [int] NULL,
	[idLocaltion] [int] NULL,
 CONSTRAINT [PK_Batch] PRIMARY KEY CLUSTERED 
(
	[BatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodDonation]    Script Date: 9/21/2022 4:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodDonation](
	[BloodID] [int] IDENTITY(1,1) NOT NULL,
	[Hovaten] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[Phone] [nvarchar](13) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[BatchID] [int] NOT NULL,
	[NhomMau] [nvarchar](50) NULL,
	[Solanhienmau] [int] NULL,
	[CMND] [nvarchar](50) NULL,
	[gioitinh] [int] NULL,
	[IsActive] [int] NULL,
	[IdUser] [int] NOT NULL,
	[CCCD] [nvarchar](50) NULL,
	[Donvicongtac] [nvarchar](100) NULL,
	[IDPhuong] [int] NULL,
	[IDQuan] [int] NULL,
	[IDTinh] [int] NULL,
	[IDQuocGia] [int] NULL,
	[Nest] [nvarchar](50) NULL,
	[sonha] [nvarchar](50) NULL,
	[duong] [nvarchar](50) NULL,
	[truocdayquividatunghienmauchuacau1] [bit] NULL,
	[tamthankinhcau2] [bit] NULL,
	[sutcan4kgcau3] [bit] NULL,
	[noihachkeodaicau4] [bit] NULL,
	[phauthuatcau5] [bit] NULL,
	[xamminhxolocau6] [bit] NULL,
	[duoctruyenmaucau7] [bit] NULL,
	[sudungmatuycau8] [bit] NULL,
	[quanhetinhduccau9] [bit] NULL,
	[quanhetinhducvoinguoidonggioicau10] [bit] NULL,
	[tiemvacxinphongbenhcau11] [bit] NULL,
	[songtrongvungcodichluuhanhcau12] [bit] NULL,
	[bicumhonhucdausotcau13] [bit] NULL,
	[dungthuockhangsinhcau14] [bit] NULL,
	[denkhamsuckhoelamxetnghiemchuarangcau15] [bit] NULL,
	[quivihienladoituongtantatcau16] [bit] NULL,
	[chihiendangnuoiconduoi12thangtuoicau17] [bit] NULL,
	[chidatungcothaihoacsinhconchuacau18] [bit] NULL,
	[ngayhienmaugannhat] [datetime] NULL,
 CONSTRAINT [PK_BloodDonation] PRIMARY KEY CLUSTERED 
(
	[BloodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodDonation_Detail]    Script Date: 9/21/2022 4:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodDonation_Detail](
	[Blood_DetalID] [int] IDENTITY(1,1) NOT NULL,
	[BatchID] [int] NOT NULL,
	[BloodID] [int] NOT NULL,
	[Thoigianhien] [datetime] NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_BloodDonation_Detail] PRIMARY KEY CLUSTERED 
(
	[Blood_DetalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ketquakham]    Script Date: 9/21/2022 4:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ketquakham](
	[ResultsScreeningID] [int] IDENTITY(1,1) NOT NULL,
	[KhamsanlocID] [int] NULL,
	[BloodID] [int] NULL,
	[Ngaylaymau] [datetime] NULL,
	[Phanung] [nvarchar](max) NULL,
	[Matuimau1] [nvarchar](max) NULL,
	[MatuiPooltieucau] [nvarchar](max) NULL,
	[Maday] [nvarchar](max) NULL,
	[Luongmau] [int] NULL,
	[Thetich] [int] NULL,
	[Xutri] [int] NULL,
	[MatuiPoolTualanh] [nvarchar](max) NULL,
	[MatuiPoolHuyettuong] [nvarchar](max) NULL,
	[KTVlaymau] [nvarchar](max) NULL,
	[HBSAG] [nvarchar](max) NULL,
	[AntiHCV] [nvarchar](max) NULL,
	[AntiHIV] [nvarchar](max) NULL,
	[AntiHBV] [nvarchar](max) NULL,
	[NATHCV] [nvarchar](max) NULL,
	[NATHIV] [nvarchar](max) NULL,
	[NATHBV] [nvarchar](max) NULL,
	[SLKTBT] [nvarchar](max) NULL,
	[Combstructiep] [nvarchar](max) NULL,
	[username] [nvarchar](max) NULL,
	[songaycothehienlai] [int] NULL,
 CONSTRAINT [PK_Ketquakhamsanloc] PRIMARY KEY CLUSTERED 
(
	[ResultsScreeningID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khamsanloc]    Script Date: 9/21/2022 4:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khamsanloc](
	[KhamsanlocID] [int] IDENTITY(1,1) NOT NULL,
	[BloodID] [int] NULL,
	[Blood_DetalID] [int] NULL,
	[doituonghienmau] [nvarchar](max) NULL,
	[hinhthuchienmau] [nvarchar](max) NULL,
	[huyetsacto] [int] NULL,
	[tieucau] [int] NULL,
	[veinkhongdat] [bit] NULL,
	[cannang] [int] NULL,
	[mach] [int] NULL,
	[huyetaptamtruong] [int] NULL,
	[huyetaptamthu] [int] NULL,
	[tinhtranglamsan] [nvarchar](max) NULL,
	[ketluan] [nvarchar](max) NULL,
	[Lydo] [nvarchar](max) NULL,
	[ktvketluan] [nvarchar](max) NULL,
	[HBV] [bit] NULL,
	[HCV] [bit] NULL,
	[HIV] [bit] NULL,
	[Giangmai] [bit] NULL,
	[HBsAg] [bit] NULL,
	[huyettuongduc] [bit] NULL,
	[username] [nvarchar](max) NULL,
 CONSTRAINT [PK_Khamsanloc] PRIMARY KEY CLUSTERED 
(
	[KhamsanlocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 9/21/2022 4:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[idLocaltion] [int] IDENTITY(1,1) NOT NULL,
	[TenDiachi] [nvarchar](max) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[idLocaltion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 9/21/2022 4:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Log_Time] [datetime] NULL,
	[BloodID] [int] NULL,
	[action] [nvarchar](50) NULL,
	[nguoithaotac] [nvarchar](50) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phuong]    Script Date: 9/21/2022 4:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phuong](
	[IDPhuong] [int] NOT NULL,
	[IDQuan] [int] NULL,
	[IDTinh] [int] NULL,
	[MaPhuong] [char](10) NULL,
	[TenP] [nvarchar](50) NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quan]    Script Date: 9/21/2022 4:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quan](
	[IDQuan] [int] NOT NULL,
	[IDTinh] [int] NULL,
	[MaQuan] [char](10) NULL,
	[TenQ] [nvarchar](50) NULL,
	[ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDQuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuocGia]    Script Date: 9/21/2022 4:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuocGia](
	[IDQuocGia] [int] IDENTITY(1,1) NOT NULL,
	[MaQG] [char](50) NULL,
	[TenQG] [nvarchar](200) NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDQuocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 9/21/2022 4:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[NameRole] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tinh]    Script Date: 9/21/2022 4:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinh](
	[IDTinh] [int] NOT NULL,
	[MaT] [char](10) NULL,
	[TenT] [nvarchar](50) NULL,
	[ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/21/2022 4:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Batch] ON 

INSERT [dbo].[Batch] ([BatchID], [BatchName], [Thoigianhien], [Nguoitaohien], [StatusDothien], [Thoigianthemluothien], [Thoigianbatdau], [Thoigianketthuc], [Soluongdukien], [Soluongdem], [idLocaltion]) VALUES (1029, N' hienmaus 20/09/2022', CAST(N'2022-09-20T00:00:00.000' AS DateTime), N'thanhtan', NULL, CAST(N'2022-09-19T16:17:33.433' AS DateTime), CAST(N'2022-09-20T06:17:00.000' AS DateTime), CAST(N'2022-09-20T18:17:00.000' AS DateTime), NULL, 0, NULL)
INSERT [dbo].[Batch] ([BatchID], [BatchName], [Thoigianhien], [Nguoitaohien], [StatusDothien], [Thoigianthemluothien], [Thoigianbatdau], [Thoigianketthuc], [Soluongdukien], [Soluongdem], [idLocaltion]) VALUES (1039, N'Lúc 15:11 đến 18:16,Ngày 21/09/2022 tại Trường Đại học bách khoa đà nẵng', CAST(N'2022-09-21T00:00:00.000' AS DateTime), N'thanhtan', NULL, CAST(N'2022-09-20T13:11:57.540' AS DateTime), CAST(N'2022-09-21T15:11:00.000' AS DateTime), CAST(N'2022-09-21T18:16:00.000' AS DateTime), NULL, 0, 2)
INSERT [dbo].[Batch] ([BatchID], [BatchName], [Thoigianhien], [Nguoitaohien], [StatusDothien], [Thoigianthemluothien], [Thoigianbatdau], [Thoigianketthuc], [Soluongdukien], [Soluongdem], [idLocaltion]) VALUES (1042, N'Lúc 06:33 đến 18:33,Ngày 21/09/2022 tại Trường Đại học bách khoa đà nẵng', CAST(N'2022-09-21T00:00:00.000' AS DateTime), N'', NULL, CAST(N'2022-09-20T15:34:04.453' AS DateTime), CAST(N'2022-09-21T06:33:00.000' AS DateTime), CAST(N'2022-09-21T18:33:00.000' AS DateTime), 2, 0, 2)
SET IDENTITY_INSERT [dbo].[Batch] OFF
GO
SET IDENTITY_INSERT [dbo].[BloodDonation] ON 

SET IDENTITY_INSERT [dbo].[BloodDonation] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([idLocaltion], [TenDiachi]) VALUES (1, N'Bệnh viện Đa khoa đà nẵng')
INSERT [dbo].[Location] ([idLocaltion], [TenDiachi]) VALUES (2, N'Trường Đại học bách khoa đà nẵng')
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([LogID], [Log_Time], [BloodID], [action], [nguoithaotac]) VALUES (1, CAST(N'2022-03-28T16:35:57.920' AS DateTime), NULL, N'sửa', N'thanhtan')
INSERT [dbo].[Log] ([LogID], [Log_Time], [BloodID], [action], [nguoithaotac]) VALUES (2, CAST(N'2022-03-29T10:59:03.610' AS DateTime), NULL, N'sửa', N'thanhtan')
INSERT [dbo].[Log] ([LogID], [Log_Time], [BloodID], [action], [nguoithaotac]) VALUES (3, CAST(N'2022-03-29T11:11:00.330' AS DateTime), NULL, N'sửa', N'thanhtan')
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
INSERT [dbo].[Phuong] ([IDPhuong], [IDQuan], [IDTinh], [MaPhuong], [TenP], [active]) VALUES (1, 1, 48, N'	20194    ', N'	Phường Hòa Hiệp Bắc', 1)
INSERT [dbo].[Phuong] ([IDPhuong], [IDQuan], [IDTinh], [MaPhuong], [TenP], [active]) VALUES (2, 1, 48, N'20195     ', N'	Phường Hòa Hiệp Nam', 1)
INSERT [dbo].[Phuong] ([IDPhuong], [IDQuan], [IDTinh], [MaPhuong], [TenP], [active]) VALUES (3, 1, 48, N'	20197    ', N'Phường Hòa Khánh Bắc', 1)
GO
INSERT [dbo].[Quan] ([IDQuan], [IDTinh], [MaQuan], [TenQ], [ACTIVE]) VALUES (1, 48, N'490       ', N'	Quận Liên Chiểu', 1)
INSERT [dbo].[Quan] ([IDQuan], [IDTinh], [MaQuan], [TenQ], [ACTIVE]) VALUES (2, 48, N'	491      ', N'Quận Thanh Khê', 1)
INSERT [dbo].[Quan] ([IDQuan], [IDTinh], [MaQuan], [TenQ], [ACTIVE]) VALUES (3, 48, N'492       ', N'	Quận Hải Châu', 1)
GO
SET IDENTITY_INSERT [dbo].[QuocGia] ON 

INSERT [dbo].[QuocGia] ([IDQuocGia], [MaQG], [TenQG], [active]) VALUES (1, N'VN                                                ', N'Việt Nam', 1)
SET IDENTITY_INSERT [dbo].[QuocGia] OFF
GO
INSERT [dbo].[Role] ([RoleID], [NameRole]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [NameRole]) VALUES (2, N'User')
GO
INSERT [dbo].[Tinh] ([IDTinh], [MaT], [TenT], [ACTIVE]) VALUES (1, N'01        ', N'Thành phố Hà Nội', 1)
INSERT [dbo].[Tinh] ([IDTinh], [MaT], [TenT], [ACTIVE]) VALUES (2, N'02        ', N'Tỉnh Hà Giang', 1)
INSERT [dbo].[Tinh] ([IDTinh], [MaT], [TenT], [ACTIVE]) VALUES (4, N'04        ', N'Tỉnh Cao Bằng', 1)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [UserName], [Password], [RoleID]) VALUES (1, N'thanhtan', N'123', 1)
INSERT [dbo].[User] ([IdUser], [UserName], [Password], [RoleID]) VALUES (2, N'lethanhtan', N'123', 2)
INSERT [dbo].[User] ([IdUser], [UserName], [Password], [RoleID]) VALUES (4, N'thanhtan123', N'123', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Batch] ADD  CONSTRAINT [DF_Batch_Soluongdem]  DEFAULT ((0)) FOR [Soluongdem]
GO
ALTER TABLE [dbo].[BloodDonation] ADD  CONSTRAINT [DF_BloodDonation_Solanhienmau]  DEFAULT ((0)) FOR [Solanhienmau]
GO
ALTER TABLE [dbo].[BloodDonation] ADD  CONSTRAINT [DF_BloodDonation_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Phuong] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Quan] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[Tinh] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[Batch]  WITH CHECK ADD  CONSTRAINT [FK_Batch_Location] FOREIGN KEY([idLocaltion])
REFERENCES [dbo].[Location] ([idLocaltion])
GO
ALTER TABLE [dbo].[Batch] CHECK CONSTRAINT [FK_Batch_Location]
GO
ALTER TABLE [dbo].[BloodDonation]  WITH CHECK ADD  CONSTRAINT [FK_BloodDonation_Batch1] FOREIGN KEY([BatchID])
REFERENCES [dbo].[Batch] ([BatchID])
GO
ALTER TABLE [dbo].[BloodDonation] CHECK CONSTRAINT [FK_BloodDonation_Batch1]
GO
ALTER TABLE [dbo].[BloodDonation]  WITH CHECK ADD  CONSTRAINT [FK_BloodDonation_Tinh] FOREIGN KEY([IDTinh])
REFERENCES [dbo].[Tinh] ([IDTinh])
GO
ALTER TABLE [dbo].[BloodDonation] CHECK CONSTRAINT [FK_BloodDonation_Tinh]
GO
ALTER TABLE [dbo].[BloodDonation]  WITH CHECK ADD  CONSTRAINT [FK_BloodDonation_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[BloodDonation] CHECK CONSTRAINT [FK_BloodDonation_User]
GO
ALTER TABLE [dbo].[BloodDonation_Detail]  WITH CHECK ADD  CONSTRAINT [FK_BloodDonation_Detail_Batch] FOREIGN KEY([BatchID])
REFERENCES [dbo].[Batch] ([BatchID])
GO
ALTER TABLE [dbo].[BloodDonation_Detail] CHECK CONSTRAINT [FK_BloodDonation_Detail_Batch]
GO
ALTER TABLE [dbo].[BloodDonation_Detail]  WITH CHECK ADD  CONSTRAINT [FK_BloodDonation_Detail_BloodDonation] FOREIGN KEY([BloodID])
REFERENCES [dbo].[BloodDonation] ([BloodID])
GO
ALTER TABLE [dbo].[BloodDonation_Detail] CHECK CONSTRAINT [FK_BloodDonation_Detail_BloodDonation]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_BloodDonation] FOREIGN KEY([BloodID])
REFERENCES [dbo].[BloodDonation] ([BloodID])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_BloodDonation]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
