/* You can remove these code below*/
:root {
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0,0,0,0.05);
}

* {
    box-sizing: border-box;
}

input, button, textarea {
    border: 0;
    outline: none;
}
/* Main code */

.text-field {
    position: relative;
}

    .text-field label {
        display: inline-block;
        font-weight: 600;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 10px;
        background-color: white;
        padding: 1px 5px;
        font-size: 12px;
        transform: translateY(-50%);
        color: #007bff;
    }

    .text-field input {
        padding: 15px;
        display: block;
        width: 100%;
        color: #999;
        font-size: 14px;
        border: 1px solid #6a5af9;
        border-radius: 4px;
    }
